.container {
    text-align: center;
    margin-top: 100px;
    height: 300px;
    width: 550px;
    margin-left: 400px;
    border-radius: 20px;
    margin-top: -50px;
    /* border: solid 4pt ; */
    /* border-color: goldenrod; */
    
  }
  
  #stopwatch {
    font-size: 50px;
    margin-bottom: 20px;
    color:rgb(249, 64, 95);
    background-color: rgba(28, 255, 8, 0.849);
    border: solid rgba(28, 255, 8, 0.849);
    border-radius: 30px
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    height: 45px;
    width: 100px;
    background-color: rgb(255, 0, 174);
  }

  .sp{
    color: white;
    margin-left: 270px;
    margin-top: 100px;
  }

  body{
    background-image: url(https://i.pinimg.com/736x/57/25/0a/57250ad359c0ef74be9af3a7d955dc52.jpg);
    background-position: center;
  }


  .vk{
    margin-left: 800px;
    margin-top: -100px;
  }

  .mm{
    color: white;
    margin-left: 70px;
  }


  .km{
    color: white;
    margin-left: 800px;
    margin-top: -60px;
    font-size: 13pt;
  }

  
  